*
{
    padding: 0;
    margin: 0;
}

body
{
    color: white;
    background-color: black;
}

h1
{
    /*later*/
}

p
{
    /*later*/
}

#quote 
{
    border: 2px solid red;
}

.highlight
{
    background-color: yellow;
}
  
.error 
{
    background-color: lightcoral;
    border: red;
}