*
{
    padding: 0;
    margin: 0;
}

body
{
    color: white;
    background-color: black;
}

h1
{
    margin-top: 1%;
    text-align: center;
    text-decoration: underline;
}

p
{
    margin-top: 1%;
    text-align: center;
}

#quote 
{
    padding: 20px 20px;
    font-size: large;
}

@keyframes anim {
    0%{color: red;}
    100%{color:blue;}
}

.highlight
{
    /*background-color: yellow;*/
    animation: anim 1s infinite;
}
  
.error 
{
    background-color: lightcoral;
    border: red;
}

.block
{
    position: relative;
    margin-left: 16%;
    margin-top: 6%;
    width: 70%;
    height: 400px;
    background: linear-gradient(0deg, black, rgb(44,43,43));

}

.glow::before, .glow::after
{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #e6fb04, #ff6600, #00ff00, #00ffff, #ff00ff, #ff0099, #6e0dd0, #ff3300, #099fff);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;
}
@keyframes animate
{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.glow::after
{
    filter: blur(40px);
}